.wm-content-master-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.wm-content-master-form .form-wrapper {
    margin: 0;
}

.wm-content-master-form .form-wrapper:last-child {
    flex: 1;
}

.wm-content-master-form #edit-add-new .fieldset-wrapper .button,
.wm-content-master-form #edit-add-new .fieldset__wrapper .button {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.wm-content-master-form #edit-add-new
{
    flex: 0 1;
    margin: 0 0 1.5rem 0;
}

.wm-content-master-form__with-inline-render #edit-inline-render-wrapper
{
    margin: 0 1.5rem 0 0;
}

.wm-content-master-form #edit-add-new .fieldset-wrapper,
.wm-content-master-form #edit-add-new .fieldset__wrapper {
    column-count: 2;
    column-gap: 0.5rem;
    margin: -0.5rem;
    padding: 1rem 1.5rem;
}

.wm-content-master-form #edit-add-new .fieldset-wrapper .button,
.wm-content-master-form #edit-add-new .fieldset__wrapper .button {
    width: 100%;
    margin: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    word-break: break-word;
}

.wm-content-master-form #edit-rows .td__type {
    white-space: nowrap;
}

.wm-content-master-form__with-inline-render #edit-add-new .fieldset-wrapper,
.wm-content-master-form__with-inline-render #edit-add-new .fieldset__wrapper {
    column-count: 1;
}

.wm-content-master-form__with-inline-render #edit-add-new {
    flex-basis: 160px;
}

@media screen and (min-width: 28em) {
    .wm-content-master-form #edit-add-new .fieldset-wrapper,
    .wm-content-master-form #edit-add-new .fieldset__wrapper {
        column-count: 3;
    }

    .wm-content-master-form__with-inline-render #edit-add-new .fieldset-wrapper,
    .wm-content-master-form__with-inline-render #edit-add-new .fieldset__wrapper {
        column-count: 1;
    }

    .wm-content-master-form__with-inline-render #edit-add-new {
        flex-basis: 160px;
    }
}

@media screen and (min-width: 48em) {
    .wm-content-master-form {
        flex-direction: row;
    }

    .wm-content-master-form #edit-add-new {
        margin: 0 1.5rem 0 0;
        flex-basis: 320px;
    }

    .wm-content-master-form #edit-add-new .fieldset-wrapper,
    .wm-content-master-form #edit-add-new .fieldset__wrapper {
        flex: 0 1 calc(50% - 0.5rem);
        column-count: 2;
    }

    .wm-content-master-form .form-wrapper:last-child {
        max-width: 50vw;
    }

    .wm-content-master-form__with-inline-render #edit-add-new .fieldset-wrapper,
    .wm-content-master-form__with-inline-render #edit-add-new .fieldset__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wm-content-master-form__with-inline-render #edit-add-new .fieldset-wrapper a,
    .wm-content-master-form__with-inline-render #edit-add-new .fieldset__wrapper a{
        max-width: 135px;
        max-height: 30px;
    }

    .wm-content-master-form__with-inline-render #edit-add-new {
        flex-basis: 160px;
    }

    .wm-content-master-form__with-inline-render #edit-add-new {
        margin: 0 0 1.5rem 0;
        flex-basis: 100vw;
    }

}
