{#
/**
 * @file
 * Default theme implementation to display wmcontent entities.
 *
 * Available variables:
 * - children: All wmcontent entities, in the correct order. Use {{ content }} to print them all,
 *   or loop them to do other stuff.
 * - attributes: HTML attributes for the containing element.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_wmcontent()
 *
 * @ingroup themeable
 */
#}

{% set containerClasses = [
  'wmcontent-container',
  'wmcontent-container-' ~ container
] %}

<div{{ attributes.addClass(containerClasses) }}>
  {% for child in children %}
    {% set itemAttributes = create_attribute({
      'class': [
        'wmcontent-item',
        'wmcontent-item-' ~ child['#type'],
        'wmcontent-item-' ~ child['#type'] ~ '-' ~ child['#bundle'],
        child['#size'],
        child['#alignment'],
      ],
    }) %}
    <div {{ itemAttributes }}>
      {{ child }}
    </div>
  {% endfor %}
</div>
